*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
scroll-behavior: smooth;
}

nav
{
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 10px;
  display: flex;
  font-size: 1rem;
  height: auto;
  justify-content: space-between;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200;
  padding: 25px 40px 25px 50px;
}

h3
{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

nav ul
{
  display: flex;
  gap: 2rem;
  list-style: none;
}

ul
{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li
{
  display: list-item;
  text-align: -webkit-match-parent;
}

nav ul li a:hover
{
  color: #147efb;
}

nav ul a
{
  color: rgb(45,46,50);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.23s ease 0s;
}

a:webkit-any-link
{
  cursor: pointer;
}

.hero
{
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
  width: 100%;
}

.container
{
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.content
{
  display: flex;
  align-items: center;
  gap: 10rem;
  height: 60rem;
  justify-content: center;
  position: relative;
}

.hero-main
{
  display: flex;
  align-items: center;
  gap: 8rem;
  justify-content: center;
  position: relative;
}

.skills
{
  display: flex;
  align-items: center;
  bottom: 3rem;
  color: #767676;
  font-size: 1.7rem;
  left: 0;
  position: absolute;
  margin-bottom: 14rem;
}

.logos ul
{
  position: relative;
  right: 5rem;
}

.hero-text
{
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
  margin-bottom: 22rem;
  left: 10rem;
}

.hero-text h1
{
  color: #2d2e32;
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 43rem;
}

.wavingHand
{
  position: absolute;
  margin-top: 3.2rem;
  right: 5rem;
  color: #DBA377;
}

.hero-text p
{
  color: #555;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}

.hero-text span
{
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  margin: 2..5rem 0;
}

.hero-text span a
{
  color: #2d2e32;
  font-size: 2rem;
}

.hero-text span a:hover
{
  color: #147efb;
}

p
{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.hero-img
{
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url('../src/images/hemantm.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 20rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 25rem;
  cursor: pointer;
  margin-bottom: 15rem;
  margin-right: 4rem;
}

.skills p
{
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  font-weight: 600;
  margin-right: 7rem;
  padding-right: 2rem;
}

.skills ul
{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  list-style: none;
}

ul
{
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.skills ul li
{
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  width: 2.5rem;
}

li
{
  display: list-item;
  text-align: -webkit-match-parent;
}

.about
{
  background-color: #fff;
  padding: 3rem 0;
}

.about-content
{
  align-items: center;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  justify-content: center;
}

.img-side
{
  position: relative;
}

.text-side
{
  padding-right: 1.5rem;
}

.work-emoji
 {
  bottom: 35px;
  position: absolute;
  right: 80px;
  width: 6rem!important;
  z-index: 10;
}

img 
{
  overflow-clip-margin: content-box;
  overflow: clip;
}

.img-side__main-img 
{
  border-radius: 1.7rem;
  height: 30rem;
  width: 41rem;
} 

.img-side span 
{
  background-color: #fff;
  border-radius: 50%;
  bottom: -33px;
  height: 13rem;
  position: absolute;
  left: 33rem;
  width: 13rem;
  /* background-color: red; */
}

.img-side span img 
{
  -webkit-animation: rotate 9s linear infinite;
  animation: rotation 9s infinite linear;

  width: 13rem;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}

.text-side h3 
{
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-side h4 
{
  color: #2d2e32;
  font-family: Poppins,sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.text-side p 
{
  color: #767676;
  font-family: Mulish,sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.project
{
  background-color: #f9f9f9;
}

.project-content
 {
  display: flex;
  flex-direction: column;
}

.project-content p
{
  color: #147efb;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.project-content h3
{
  color: #2d2e32;
  font-size: 1.8rem;
  margin-bottom: 6rem;
}

.project-grid
{
  display: grid;
  grid-gap: 5rem;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}

.project-grid .pro
{
  display: flex;
  background-color: #fff;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-grid .pro__1
{
  flex-direction: row;
  gap: 8rem;
  height: 35rem;
  padding: 2rem;
}

.project-grid .pro__img img
{
  height: 32rem;
  width: 100%;
}

.project-grid .pro__img
{
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  width: 45rem;
}

.project-grid .pro__text
{
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 30rem;
}

.project-grid .pro__text h3
{
  color: #2d2e32;
  font-size: 1.7rem;
  position: relative;
  top: 5rem;
  text-transform: uppercase;
}

.project-grid .pro__text p
{
  color: #767676;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  margin-bottom: 4rem;
}

.stack
{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.links, .links a
{
  align-items: center;
  display: flex;
}

.links
{
  gap: 3rem;
  justify-content: center;
  margin-top: 3rem;
}

.stack p
{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000!important;
  font-weight: 600!important;
  padding: .3rem 0.5rem;
  position: relative;
  bottom: 3rem;
}

.links a
{
  color: #2d2e32;
  font-size: 1.7rem;
  font-weight: 500;
  gap: 1rem;
  text-decoration: none;
  position: relative;
  bottom: 7rem;
}

.links a:hover
{
  transition-duration: 1s;
  color: #147efb;
}

.reversed-proj
{
  flex-direction: row-reverse!important;
}

.contact
{
  background-color: #fff;
  padding: 11rem 0;
}

.contact__content
{
  display: flex;
  flex-direction: column;
}

.contact__icons
{
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 6rem;
}

.contact__title p
{
  color: #147efb;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contact__title h3
{
  color: #2d2e32;
  font-size: 2rem;
}

.contact__icon-box
{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.contact__icon-box span
 {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 2.3rem;
}

.contact__info
{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__info h3
{
  color: #2d2e32;
  font-size: 1.7rem;
  position: relative;
  top: 1.5rem;
}

.contact__info p
{
  color: #767676;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
  position: relative;
  bottom: 1.5rem;
}

.contact__info p:hover
{
  color: #147efb;
}

.contact__info a
{
  color: #767676;
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
}

.contact__info a:hover
{
  color: #147efb;
}

footer
{
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
}

.footerc
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerc__socials
{
  display: flex;
  gap: 2rem;
}

.footerc__socials a
{
  color: #fff;
  font-size: 2rem;
}

footer h3
{
  color: #fff;
  font-size: 1.5rem;
}

.footerc__socials a:hover
{
  color: #147efb;
}